<!DOCTYPE html>
<html lang="en" ng-app="RegApp">  <!--tells browser that this is an angular appln  -->
<head>
    <title>Angular App Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script> <!-- reference the AngularJS library -->
    <script type="text/javascript" src="index.js"></script>
</head>

<body  ng-controller="RegCtrl as ctr" style="background:{{ ctr.pageColor }}">
    <div style="padding: 30px">
        Enter your name here : <input ng-model="ctr.myname"/>
        Enter your age here : <input ng-model="ctr.age"/>
        Enter page color: <input ng-model="ctr.pageColor"/>
        <h1>{{"Hello "+ctr.myname}} </h1>
        <h1>{{"My age "+ctr.age}} </h1>

        <h1> 1 + 2 = {{1 + 2}}</h1>


    </div>
</body>

</html>